[user]
	name = Peter Hajas
	email = peter@haj.as
[core]
	editor = nvim
	excludesfile = /Users/phajas/.gitignore_global
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[mergetool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[push]
	default = matching
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags

    st = status

    # hah!
    checkotu = checkout
