[user]
	name = Peter Hajas
	email = peterhajas@gmail.com
[core]
	editor = vim
	excludesfile = /Users/phajas/.gitignore_global
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[push]
	default = matching
[init]
	templatedir = ~/.git_template
[alias]
	ctags = !.git/hooks/ctags

    s = status
    st = status
    stat = status

    b = branch
    br = branch
    bran = branch
