# don't track .DS_Store

*.DS_Store

# vim related

## Plugins

pathogen.vim
vim/.vim/bundle/*/

## Temp files

*.un~
*.swp
*.netrwhist

# fish related

fish_history
fishd.*
*.menu

# cmus related

cmus/.config/cmus/autosave
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/playlist.pl
cmus/.config/cmus/search-history
