[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "dockutil/bin/dockutil"]
	path = dockutil/bin/dockutil
	url = https://github.com/kcrawford/dockutil.git
[submodule "replace_icns/replace_icns"]
	path = replace_icns/replace_icns
	url = https://github.com/mdznr/replace_icns.git
