[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "dockutil/bin/dockutil"]
	path = dockutil/bin/dockutil
	url = https://github.com/kcrawford/dockutil.git
[submodule "replace_icns/bin/replace_icns"]
	path = replace_icns/bin/replace_icns
	url = https://github.com/mdznr/replace_icns.git
[submodule "video_transcoding_scripts/bin/video-transcoding-scripts"]
	path = video_transcoding_scripts/bin/video-transcoding-scripts
	url = https://github.com/donmelton/video-transcoding-scripts.git
[submodule "home_control/bin/flux_led"]
	path = home_control/bin/flux_led
	url = https://github.com/beville/flux_led.git
