# don't track .DS_Store

*.DS_Store

# vim related

## Plugins

### Pathogen
pathogen.vim

### NeoBundle
vim/.vim/bundle/*/
vim/.vim/bundle/NeoBundle.lock

### Plug
vim/.vim/autoload/plug.vim
vim/.vim/plugged

## Temp files

*.un~
*.swp
*.netrwhist

# fish related

fish_history
fishd.*
*.menu

# cmus related

cmus/.config/cmus/autosave
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/playlist.pl
cmus/.config/cmus/search-history

# newsboat related

newsboat/.newsboat/cache*
newsboat/.newsboat/history*
newsboat/.newsboat/cookies*

# Karabiner related
karabiner/.config/karabiner/automatic_backups
