# don't track .DS_Store

*.DS_Store

# also skip tags
tags

# vim

## Autoload
vim/.vim/autoload

## Plugins

### Pathogen
pathogen.vim

### NeoBundle
vim/.vim/bundle/*/
vim/.vim/bundle/NeoBundle.lock

### Plug
vim/.vim/autoload/plug.vim
vim/.vim/plugged

# nvim
*lazy-lock*

## Temp files

*.un~
*.swp
*.netrwhist
vim/.vim/undodir

# fish

fish_history
fishd.*
*.menu
fish/.config/fish/fish_variables
fish/.config/fish/functions/secrets.fish

# cmus

cmus/.config/cmus/autosave
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/playlist.pl
cmus/.config/cmus/search-history

# newsboat

newsboat/.newsboat/cache*
newsboat/.newsboat/history*
newsboat/.newsboat/cookies*

# mpd

mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/pid
mpd/.mpd/state
mpd/.mpd/sticker.sql

# ncmpcpp
ncmpcpp/.config/ncmpcpp/error.log

# Karabiner
karabiner/.config/karabiner/automatic_backups

# Hammerspoon
mdi.json

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
uv.lock

# Claude
/.claude

# Codex
codex/.codex/rules

# Colors
colors/.config/colors/palettes/from_wallpaper*.toml
ghostty/.config/ghostty/themes/from_wallpaper_*
colors/wallpapers
