layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar" {
                tips false
            }
        }
    }
    swap_tiled_layout name="even-vertical" {
        tab max_panes=1 {
            pane
        }
        tab max_panes=2 split_direction="vertical" {
            pane
            pane
        }
        tab max_panes=3 split_direction="vertical" {
            pane
            pane
            pane
        }
        tab max_panes=4 split_direction="vertical" {
            pane
            pane
            pane
            pane
        }
        tab max_panes=5 split_direction="vertical" {
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=6 split_direction="vertical" {
            pane
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=8 split_direction="vertical" {
            pane
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=7 split_direction="vertical" {
            pane
            pane
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=9 split_direction="vertical" {
            pane
            pane
            pane
            pane
            pane
            pane
            pane
        }
    }
    swap_tiled_layout name="even-horizontal" {
        tab max_panes=1 {
            pane
        }
        tab max_panes=2 split_direction="horizontal" {
            pane
            pane
        }
        tab max_panes=3 split_direction="horizontal" {
            pane
            pane
            pane
        }
        tab max_panes=4 split_direction="horizontal" {
            pane
            pane
            pane
            pane
        }
        tab max_panes=5 split_direction="horizontal" {
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=6 split_direction="horizontal" {
            pane
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=8 split_direction="horizontal" {
            pane
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=7 split_direction="horizontal" {
            pane
            pane
            pane
            pane
            pane
            pane
            pane
        }
        tab max_panes=9 split_direction="horizontal" {
            pane
            pane
            pane
            pane
            pane
            pane
            pane
        }
    }
}
