body
{
    font-family: Helvetica;
    font-size: xx-large;
    background-color: #dedede;
}

h2
{
    font-weight: light;
}

.linkSectionsContainer
{
    text-align: center;
}

.linkSectionContainer
{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    padding-top: 40vh;
}

.linkSectionContainer li
{
    display: block;
    padding-top:8px;
}

.linkSectionContainer h2
{
    color: #ff9800;
}

a:link,
a:visited,
a:hover,
a:active
{
    color: #ff7400;
    text-decoration:none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #212121;
    }

    .date {
        color: #777;
    }
    blockquote {
        border-left-color: white;
    }
}

