body
{
    font-family: Helvetica;
    font-weight: lighter;
    background-color: #212121;
}

.linkSectionsContainer
{
    text-align: center;
}

h2
{
    margin-top:40pt;
    font-weight: lighter;
}

.linkSectionContainer
{
    display: inline-block;
    width: 100pt;
    margin-top:30vh;
    vertical-align: top;
    transition-duration: 0.5s;
}

.linkSectionContainer.collapsed
{
    height: 100pt;
    margin-top:40vh;
    background-color: #303030;
}

.linkSectionContainer a
{
    display: block;
    padding-top:8px;
    transition-duration: 0.5s;
}

.linkSectionContainer.collapsed a
{
    pointer-events: none;
    opacity: 0;
}

.linkSectionContainer h2
{
    color: #ff9800;
    transition-duration: 0.5s;
}

a:link,
a:visited,
a:hover,
a:active
{
    font-size: 12pt;
    color: #ff7400;
    text-decoration:none;
}

